## For Loop

In [ ]:
# Input from user

In [10]:
Z = int(input("Enter your num: "))
# Z = float(input("Enter your num: "))



# integer is a number 
# float decimal

Enter your num:  445

In [11]:
# if else 
# Decision making
# conditional statement

In [13]:
# yes or no 
# true and false

In [18]:
name=input("Enter your num: ")
if name == 'sana':
      print('Welcome')
else:
    print('you are not allowed')

Enter your num:  sana

Welcome

In [19]:
# For Loop 
# Repetition

In [23]:
fruits= ['apple', 'banana', 'orange', 'grapes']

for fruit in fruits:
    print(fruit)

apple
banana
orange
grapes

In [24]:
for num in range(100):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [26]:
for num in range(10,41):
    print(num)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [29]:
word='Ali'

for char in word:
    print(char)

A
l
i

## Example: Print Even Numbers

In [3]:
for i in range(1, 20):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18

# Nested loop for pattern

In [5]:
for i in range(1, 5):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****