In [5]:
# Pattern printing using nested loops

# Star pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:

# Number pattern
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
# reverse patter
rows = 5

for i in range(rows, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [14]:
# pyramid pattern
rows = 5

for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    print("* " * i)

    *
   * *
  * * *
 * * * *
* * * * *